* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font-family: Verdana;
  line-height: 1.6;
  background: #1F1F1F;
  color: #FFFFFF;
}

h1 {
  margin-bottom: 10px;
  color: #363636;
}

h2 {
  color: white;
  text-align: center;
}

h4 {
  font-size: 20px;
  margin-bottom: 10px;
  color: #363636;
}

p {
  margin-bottom: 20px;
  font-size: 16px;
}


.arriba {
  background: #C6DEB4;
  min-height: 500px;
  padding: 60px;
  display: flex;
  gap: 100px;
  align-items: center;
  justify-content: center;
}

.arriba p,
.arriba a {
  max-width: 500px;
  color: black;
}


.titulo {
  
  align-items: center;
  gap: 15px;
  color: #C6DEB4;
}

.titulo img {
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.titulo1 {
  color: white;
}


header {
  padding: 30px 0;
}

nav {
  text-align: center;
}

nav a:hover {
  color: #C6DEB4;
}

/* PORTAFOLIO */
.portafolio {
  text-align: center;
  padding: 40px 20px;
}

.contenedor {
  display: flex;
  align-items: stretch;
  max-width: 1200px;
  margin: auto;
}

.Descripcion {
  flex: 1;
}

.Descripcion h1 {
  margin-bottom: 30px;
}

.textoizq,
.textoder,
.textoaba {
  margin-bottom: 25px;
  line-height: 1.7;
  text-align: left;
}


.imagenes {
  flex: 1;
  display: flex;
  align-items: center;
}

.imagenes img {
  width: 100%;
  height: auto;
  border-radius: 12px;
}

/* LINKS */
.link {
  display: flex;
  font-size: 40px;
  color: white;
  margin: 40px;
  justify-content: center;
  text-decoration: none;
}

.link:hover {
  color: #C6DEB4;
}

/* BOTONES */
a[href="#"],
a[href="1"] {
  display: inline-block;
  padding: 12px 25px;
  font-weight: bold;
  color: white;
}

a[href="#"] {
  background-color: #1f1f1f;
}

a[href="#"]:hover {
  background-color: #363636;
}

a[href="1"]:hover {
  background-color: #1f1f1f;
}

a[href="#"]:hover, 
a[href="1"]:hover {
  transform: scale(1.3);
  transition: 2s;
}

/* SECCIONES */
.about {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 80px;
  background-color: #a8bf96;
  min-height: 500px;
  gap: 200px;
}

.about-texto {
  flex: 1;
  max-width: 500px;
}

/* LAYOUT */
.der {
  display: flex;
  flex-direction: column;
  padding: 20px;
  color: black;
}

.izq {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

/* DATOS */
.datos {
  background: #1f1f1f;
  color: white;
  display: flex;
  justify-content: center;
  gap: 70px;
  padding: 70px;
  min-height: 500px;
}

/* IMAGENES / ICONOS */
.imagen img {
  width: 100%;
  max-width: 700px;
}

.logo {
  width: 50px;
  height: 50px;
  border-radius: 10px;
}
.logo2 {
  width: 300px;
  height: 300px;
  border-radius: 5px;
}
.icono,
.icono2 {
  width: 300px;
  height: 300px;
}

/* MENU */
.menu {
  display: flex;
  align-items: center;
  justify-content: center;
}